In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
all_chunks = []
data = pd.read_csv('data/NUTRITION2001_2022.csv', chunksize=500000)

for chunk in data:
    # Extract the needed columns
    cols_to_extract = ['REF_AREA:Geographic area', 'TIME_PERIOD:Time period', 'INDICATOR:Indicator', 
                    'RESIDENCE:Residence', 'MATERNAL_EDU_LVL:Mother\'s Education Level', 'OBS_VALUE:Observation Value']
    chunk = chunk[cols_to_extract]

    # Rename columns
    chunk = chunk.rename(columns={'REF_AREA:Geographic area':'Country'
                                ,'TIME_PERIOD:Time period':'Year'
                                ,'INDICATOR:Indicator':'Indicator'
                                ,'RESIDENCE:Residence':'Residence'
                                ,'MATERNAL_EDU_LVL:Mother\'s Education Level':'Maternal_Education'
                                ,'OBS_VALUE:Observation Value':'Observation_Value'})
    
    # Clean up values - remove colons and values before it
    chunk['Country'] = chunk['Country'].apply(lambda x:x[x.index(':')+1:])
    chunk['Indicator'] = chunk['Indicator'].apply(lambda x:x[x.index(':')+1:])
    chunk['Residence'] = chunk['Residence'].apply(lambda x:x[x.index(':')+1:])
    chunk['Maternal_Education'] = chunk['Maternal_Education'].apply(lambda x:x[x.index(':')+1:])

    chunk = chunk[~chunk['Year'].str.contains('-', na=False)]

    all_chunks.append(chunk)

df = pd.concat(all_chunks)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_1600\2137935633.py:4: DtypeWarning: Columns (9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in data:
C:\Users\Administrator\AppData\Local\Temp\ipykernel_1600\2137935633.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in data:
C:\Users\Administrator\AppData\Local\Temp\ipykernel_1600\2137935633.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in data:
C:\Users\Administrator\AppData\Local\Temp\ipykernel_1600\2137935633.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in data:
C:\Users\Administrator\AppData\Local\Temp\ipykernel_1600\2137935633.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in data:

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2177962 entries, 0 to 2398605
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   Country             object
 1   Year                object
 2   Indicator           object
 3   Residence           object
 4   Maternal_Education  object
 5   Observation_Value   float64
dtypes: float64(1), object(5)
memory usage: 116.3+ MB

In [4]:
df['Residence'].unique()

array([' Total', ' Rural', ' Urban'], dtype=object)

In [5]:
df['Maternal_Education'].unique()

array([' Total', ' None and Primary',
       ' Secondary education (lower and upper secondary education)',
       ' Secondary and Higher', ' Tertiary education',
       ' Never attended an education programme / No schooling',
       ' Primary education'], dtype=object)

In [6]:
df.isnull().sum()

Country               0
Year                  0
Indicator             0
Residence             0
Maternal_Education    0
Observation_Value     0
dtype: int64

In [7]:
african_countries = ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde', 
			'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Ivory Coast', 'Djibouti', 
			'Democratic Republic of the Congo', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 
			'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 
			'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 
			'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Republic of the Congo', 'Rwanda', 
			'Sao Tome & Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 
			'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe']

In [8]:
df['Country'] = df['Country'].str.strip()

In [9]:
mask = df['Country'].isin(african_countries)
nutri_africa = df[mask]

In [12]:
nutri_africa.describe()

       Observation_Value
count      932625.000000
mean           14.003128
std            79.263698
min            -3.100000
25%             1.200000
50%             4.500000
75%            16.200000
max         12103.400000